.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-heading {
  text-align: center;
  margin: 5vh 0 0 0;
}

.dice-buttons {
  display: flex;
  width: 100vw;
  margin: 5vh 0;
  justify-content: space-around;
}

.roll-button {
  border-radius: 50%;
  height: 15vh;
  width: 15vh;
  background: pink;
}

.die-container {
}

.die-face {
  width: 15vh;
  height: 15vh;
  margin: 3vh;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2vh;
  align-content: center;
  background: whitesmoke;
  box-shadow: 5px 5px 8px black;
}

.die-dot {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
}
